.menu-container {
  color: #fff;
  background-color: #5995DA;
  padding: 0;
  height: 73vw;
}
body {
    margin: 0px;    
}
.container {
  color: #fff;
  background-color: #5995DA;
  padding: 10vw;
  height: 50vw;
 }

.container img {
	height: 100%;
    width: auto;
}

.left-container{
    float: left;
	padding: 10vw;
	margin: 0vw;	
}

.right-container{
    float: right;
	padding: 10vw;
	margin: 0vw;	
}
.center-container{
    float: center;
	margin-left: 173vw;
	margin-right: 173vw;
	height: 73vw;
}
.header-container {
  color: #5995DA;
  display: flex;
  justify-content: center;
  background-color: #D6E9FE;
}
.header-container img {
    width: auto;
	justify-content: center;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  height: 273vw;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 273vw;
}

.photo-grid-item {
  border: 0px;
  width: 273vw;
  height: 273vw;
}