.menu-container {
  color: #fff;
  background-color: #5995DA;
  padding: 0;
  height: 73px;
}
body {
    margin: 0px;    
}
.container {
  color: #fff;
  background-color: #5995DA;
  padding: 10px;
  height: 50px;
 }

.container img {
	height: 100%;
    width: auto;
}

.left-container{
    float: left;
	padding: 10hx;
	margin: 0px;	
}

.right-container{
    float: right; 
	padding: 10hx;
	margin: 0px;	
}
.center-container{
    float: center;
	margin-left: 173px;
	margin-right: 173px;
	height: 73px;
}
.header-container {
  color: #5995DA;
  display: flex;
  justify-content: center;
  background-color: #D6E9FE;
}
.header-container img {
    width: auto;
	justify-content: center;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  height: 273px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 273px;
}

.photo-grid-item {
  border: 0px;
  width: 273px;
  height: 273px;
}

/*iphone7+*/

@media only screen and (max-width: 750px) {
.menu-container {
  flex-wrap: wrap;
}

.container {
  width: 15vw;
  display: flex; 
  float: right;
}

.container img {
    float: right;
	padding: 0px;
	margin: 0;
	height: 50px;
}

.left-container{
    float: left;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
}

.right-container{
    float: right;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
}

.center-container {
  margin: 0px; 
  float: center;
  height: 73px;
  width: auto;
}

.header-container {
  color: #5995DA;
  display: flex;
  justify-content: right;
  background-color: #D6E9FE;
}
.header-container img {
    width: 414px;
	justify-content: center;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

.photo-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.photo-grid-item {
  margin: 0px;
  width: auto;
  height: auto;
}

.img {
    width: 100%;
    margin: 0;
}
	
}