.menu-container {
    background-color: #021939;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
}

.center-center-container {
    position: absolute;
    width: 99px;
    height: 28px;
    left: 48%;
    top: 58px;
    font-family: Arial;
    font-size: 26px;
    line-height: 28px;
    color: #E8E9EB;
}

.kria-container {
    position: absolute;
    width: 274px;
    height: 16px;
    left: 43%;
    top: 94px;
    font-family: Arial;
    font-size: 14px;
    color: #449CDC;
}

.left-container {
    position: absolute;
    width: 91px;
    height: 33px;
    left: 16%;
    top: 16px;
    font-family: Arial;
    font-size: 17px;
    line-height: 16px;
    color: #E8E9EB;
}

.right-container {
    position: absolute;
    width: 100px;
    height: 25px;
    right: 16%;
    top: 16px;
}

.header-container {
    background-color: #F1F3F9;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 200px;
    left: 0px;
}

.heheader-container {
    background-color: #021939;
    top: 26px;
    position: absolute;
    width: 68%;
    min-width: 400px;
    height: 200px;
    left: 16%;
    right: 16%;
}

.imeg-container {
    position: absolute;
    width: 27%;
    min-width: 400px;
    height: 100%;
    left: 0px;
}

.haheader-left-container {
    background-color: #FFFFFF;
    top: 254px;
    position: absolute;
    width: 31%;
    height: 147px;
    left: 16%;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.one {
    background-color: #69DC33;
    top: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 3px;
}

.two {
    background-color: #69DC33;
    top: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 3px;
}

.hahaheader-right-container {
    background-color: #FFFFFF;
    top: 254px;
    position: absolute;
    width: 31%;
    height: 147px;
    right: 16%;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.heeader-container {
    background-color: #021939;
    top: 0px;
    position: absolute;
    width: 50%;
    height: 200px;
    left: 30%;
}

.text {
    color: #0B68AB;
    top: 16%;
    position: absolute;
    width: 86px;
    height: 21px;
    left: 8%;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.text-text {
    color: #000000;
    top: 44%;
    position: absolute;
    width: 122px;
    height: 16px;
    left: 8%;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
}

.text-text-text {
    color: #000000;
    top: 70%;
    position: absolute;
    width: 179px;
    height: 23px;
    left: 8%;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}

.teext {
    color: #F1F3F9;
    top: 16%;
    position: absolute;
    width: 88px;
    height: 14px;
    left: 8%;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
}

.o {
    background-color: #69DC33;
    top: 21%;
    border: 0;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 8%;
}

.teeext {
    color: #E5E5E5;
    top: 32%;
    position: absolute;
    width: 121px;
    height: 28px;
    left: 8%;
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

.teext-text {
    color: #449CDC;
    top: 52%;
    position: absolute;
    width: 199px;
    height: 16px;
    left: 8%;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
}

.teext-text-text {
    color: #69DC33;
    top: 73%;
    position: absolute;
    width: 199px;
    height: 16px;
    left: 8%;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
}

.teeext-text-text {
    color: #000000;
    top: 93%;
    position: absolute;
    width: 83px;
    height: 13px;
    right: 16%;
    font-family: Arial;
    font-size: 11px;
    line-height: 13px;
}

.hahahaheader-container {
    background-color: #FFFDFD;
    top: 650px;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
}

.tt {
    background-color: #87CEEB;
    top: 45%;
    border: 0;
    position: absolute;
    width: 23px;
    height: 1px;
    left: 20%;
}

.hahaheheader-text-container {
    position: absolute;
    width: 37%;
    left: 20%;
    height: 300px;
}

.hahaheader-text-container {
    color: #0B68AB;
    top: 39%;
    position: absolute;
    width: 149px;
    height: 21px;
    left: 20%;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.hahaheader-teext-container {
    color: #000000;
    top: 51%;
    position: absolute;
    width: 112px;
    height: 16px;
    left: 20%;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
}

.ttt {
    background-color: #87CEEB;
    top: 0;
    margin: 0;
    border: 0;
    position: absolute;
    width: 100%;
    height: 1px;
}

.hahaheheheader-text-container {
    justify-content: space-around;
    width: 50%;
    left: 50%;
    height: 300px;
    position: absolute;
}

.im1-container {
    top: 50px;
    position: absolute;
    width: 30px;
    height: auto;
}

.im2-container {
    top: 120px;
    position: absolute;
    width: 30px;
    height: auto;
}

.im3-container {
    top: 190px;
    position: absolute;
    width: 30px;
    height: auto;
}

.im4-container {
    top: 50px;
    position: absolute;
    width: 30px;
    height: auto;
    left: 35%;
}

.im5-container {
    top: 120px;
    position: absolute;
    width: 30px;
    height: auto;
    left: 35%;
}

.im6-container {
    top: 190px;
    position: absolute;
    width: 30px;
    height: auto;
    left: 35%;
}

.t1-container {
    top: 71px;
    position: absolute;
    width: 100px;
    height: auto;
    left: 12%;
    color: #3c3b40;
    font-family: Arial;
    font-weight: bold;
}

.t2-container {
    top: 142px;
    position: absolute;
    width: 100px;
    height: auto;
    left: 12%;
    color: #5db192;
    font-family: Arial;
    font-weight: bold;
}

.t3-container {
    top: 213px;
    position: absolute;
    width: 120px;
    height: auto;
    left: 12%;
    color: #1864d4;
    font-family: Arial;
    font-weight: bold;
}

.t4-container {
    top: 71px;
    position: absolute;
    width: 100px;
    height: auto;
    left: 45%;
    color: #117044;
    font-family: Arial;
    font-weight: bold;
}

.t5-container {
    top: 142px;
    position: absolute;
    width: 100px;
    height: auto;
    left: 45%;
    color: #7ea9df;
    font-family: Arial;
    font-weight: bold;
}

.t6-container {
    top: 213px;
    position: absolute;
    width: 120px;
    height: auto;
    left: 45%;
    color: #06346f;
    font-family: Arial;
    font-weight: bold;
}

.T-text-container {
    position: absolute;
    width: 100%;
    height: auto;
}

.Projects-container {
    background-color: #F1F3F9;
    position: absolute;
    width: 100%;
    height: 427px;
    top: 945px;
    left: 0px;
}

.Projects-text-container {
    top: 30px;
    position: absolute;
    width: 79px;
    height: 31px;
    left: 49%;
    color: #1864d4;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}

.tot {
    background-color: #87CEEB;
    top: 47px;
    border: 0;
    position: absolute;
    width: 23px;
    height: 1px;
    left: 50%;
}

.Projects-teext-container {
    position: absolute;
    width: 274px;
    height: 16px;
    left: 43%;
    top: 63px;
    font-family: Arial;
    font-size: 14px;
}

.im1-projects-container {
    width: 221px;
    height: 287px;
    margin-left: 20px;
}

.im2-projects-container {
    width: 221px;
    height: 287px;
    margin-left: 21px;
}

.im3-projects-container {
    width: 221px;
    height: 287px;
    margin-left: 21px;
}

.im4-projects-container {
    width: 221px;
    height: 287px;
    margin-left: 21px;
}

.im1-text-container {
    background-color: #FFFFFF;
    height: 66px;
    width: 221px;
    left: 0;
    border: 0;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.im2-text-container {
    background-color: #FFFFFF;
    height: 66px;
    width: 221px;
    border: 0;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.im3-text-container {
    background-color: #FFFFFF;
    height: 66px;
    width: 221px;
    border: 0;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.im4-text-container {
    background-color: #FFFFFF;
    height: 66px;
    width: 221px;
    border: 0;
    box-shadow: 0 2px 3px 0 #AAAAAA;
}

.IM-projects-container {
    display: inline-flex;
    justify-content: space-around;
    top: 98px;
    position: absolute;
    height: 329px;
    width: 68%;
    left: 16%;
    right: 16%;
}

.posledniy {
    background-color: #000000;
    position: absolute;
    height: 60px;
    width: 100%;
}

.RYAN SMITH {
    position: absolute;
    height: 60px;
    width: 100%;
    left: 77px;
    top: 23px;
    font-family: Arial;
    font-size: 11px;
    color: #F1F3F9;
}

.img.posledniy {
    position: absolute;
    height: 20px;
    width: 205px;
    left: 90%;
    top: 22px;
}